<div
  role="radiogroup"
  [attr.aria-labelleadby]="id"
  class="button-group">
  <label [attr.id]="id" class="label" >{{ label }}</label>
  <button
    role="radio"
    [attr.aria-checked]="value === options.YES"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    (click)="activate(options.YES)">
    Yes
  </button>
  <button
    type="button"
    [attr.aria-checked]="value === options.NO"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)">
    No
  </button>
</div>
